$theme-picker-menu-padding: 8px;
$theme-picker-swatch-size: 36px;
$theme-picker-accent-stripe-size: 6px;

.app-theme-picker-menu {

    .mat-menu-content {
        padding: $theme-picker-menu-padding;
    }

    [mat-menu-item] {
        flex: 0 0 auto;
        padding: 0;
        overflow: hidden;
    }

    .app-theme-picker-swatch {
        width: $theme-picker-swatch-size;
        height: $theme-picker-swatch-size;
        display: inline-block;
        vertical-align: middle;
        margin: 4px 8px;

        div {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            border-right-width: ($theme-picker-swatch-size / 2);
        }
    }

    .app-theme-picker-label {
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
    }

    .app-theme-chosen-icon {
        color: white;
        position: relative;
        display: block;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}