<div id="app_container" [class.is-mobile]="mobileQuery.matches" class="nav-container">

  <mat-toolbar ngPreserveWhitespaces color="primary" class="app-toolbar">
    <button mat-icon-button (click)="mainNav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="app-name"><a routerLink="/" class="appTitle">{{appTitle}}</a></h1>
    <span class="app-toolbar-spacer"></span>
    <app-theme-picker tooltip="{{'mainMenu.Theme' | translate}}"></app-theme-picker>

    <button *ngIf="!isUserLoggedIn" mat-button (click)="router.navigateByUrl('/login')">
      <mat-icon>lock_open</mat-icon>
      <span>{{'mainMenu.Login' | translate}}</span>
    </button>

    <button *ngIf="isUserLoggedIn" class="side-button" mat-button [matMenuTriggerFor]="accountMenu" matTooltip="{{'mainMenu.UserAccount' | translate}}">
      <mat-icon class="menu-button">account_circle</mat-icon>
      <span fxHide.lt-sm>{{'mainMenu.Account' | translate}}</span>
    </button>
    <mat-menu #accountMenu="matMenu">
      <button mat-menu-item (click)="router.navigateByUrl('/settings')">
        <mat-icon>person</mat-icon><span>{{'mainMenu.Profile' | translate}}</span>
      </button>
      <button mat-menu-item (click)="router.navigateByUrl('/settings#preferences')">
        <mat-icon>settings</mat-icon><span>{{'mainMenu.Settings' | translate}}</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>lock</mat-icon><span>{{'mainMenu.Logout' | translate}}</span>
      </button>
    </mat-menu>

  </mat-toolbar>

  <mat-sidenav-container class="app-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #mainNav class="app-sidenav-nav mat-elevation-z6" [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" [opened]="!mobileQuery.matches">
      <mat-nav-list *ngIf="isUserLoggedIn">
        <a mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink=""><mat-icon>dashboard</mat-icon>{{'mainMenu.Home' | translate}}</a>
        <a mat-list-item routerLinkActive="active" *ngIf="canViewCustomers" routerLink="/customers"><mat-icon>contacts</mat-icon>{{'mainMenu.Customers' | translate}}</a>
        <a mat-list-item routerLinkActive="active" *ngIf="canViewProducts" routerLink="/products"><mat-icon>local_shipping</mat-icon>{{'mainMenu.Products' | translate}}</a>
        <a mat-list-item routerLinkActive="active" *ngIf="canViewOrders" routerLink="/orders"><mat-icon>shopping_cart</mat-icon>{{'mainMenu.Orders' | translate}}</a>
        <mat-expansion-panel *ngIf="canViewUsers || canViewRoles" #admin [class.mat-elevation-z0]="!admin.expanded">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>security</mat-icon>Admin
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-list-item routerLinkActive="active" *ngIf="canViewUsers" routerLink="/admin/users"><mat-icon>people</mat-icon>Users</a>
          <a mat-list-item routerLinkActive="active" *ngIf="canViewRoles" routerLink="/admin/roles"><mat-icon>assignment_ind</mat-icon>Roles</a>
        </mat-expansion-panel>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item routerLinkActive="active" routerLink="/about"><mat-icon>info</mat-icon>{{'mainMenu.About' | translate}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div fxLayout="column" fxFill>
        <div id="mainContent" fxFlex>
          <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>

<ngx-toasta></ngx-toasta>
