<app-page-header title="Customers" icon="contacts"></app-page-header>
<div [@fadeInOut] class="page-content">
    <!---- Sample Page Content ---->
    <todo-demo verticalScrollbar="true"></todo-demo>
</div>
