@import '../../app-theme';
@import '../highlightjs/material-dark';

$primary: mat-palette($mat-pink);
$accent:  mat-palette($mat-blue-grey, A200, A100, A400);

$theme: mat-dark-theme($primary, $accent);
@include angular-material-theme($theme);
@include quickapp-pro-app-theme($theme);
