<div class="page-content" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
  <div>
    <mat-card class="mat-elevation-z6">
      <mat-card-header>
        <mat-card-title>{{'mainMenu.Login' | translate}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-login-control [isModal]="false" (enterKeyPress)="loginControl.login()"></app-login-control>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="loginControl.isLoading" (click)="loginControl.login()"><mat-spinner *ngIf="loginControl.isLoading" [diameter]="24"></mat-spinner>{{'mainMenu.Login' | translate | uppercase}}</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
