<footer class="app-footer">
    <div class="app-footer-link">
        <p>
            <span>QuickApp Pro</span> &copy; {{getYear()}}
            <a href="https://www.ebenmonney.com" target="_blank">www.ebenmonney.com</a>
        </p>
    </div>
</footer>
