<header ngPreserveWhitespaces class="pageHeader">
  <mat-icon class="mat-icon-md" style="display: inline-block;" aria-hidden="true">{{icon}}</mat-icon>
  <h3>{{'pageHeader.' + title | translate}}</h3>
</header>
