.carousel-item {
  position: relative;
}

.ngxcarouselPoint {
  list-style-type: none;
  text-align: center;
  padding: 12px;
  margin: 0;
  white-space: nowrap;
  overflow: auto;
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 0;
  box-sizing: border-box;
  cursor: pointer;

  li {
    display: inline-block;
    border-radius: 999px;
    background: rgba(255, 255, 255, 0.55);
    padding: 5px;
    margin: 0 3px;
    transition: .4s ease all;

    &.active {
      background: white;
      width: 10px;
    }
  }
}

.button {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 150px;
  height: 100%;
  background: none;
  border: none;
  opacity: 0;
  color: white;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    opacity: 1;
    transition: opacity 1s;
  }

  &:focus {
    border: none;
    outline: none;
  }

  &.button-left {
    background: linear-gradient(to left, transparent, rgba(0, 0, 0, .5));
    left: 0;
  }

  &.button-right {
    background: linear-gradient(to right, transparent, rgba(0, 0, 0, .5));
    right: 0;
  }
}


.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.6);

  @media screen and (min-width:768px) {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
