
.chart-container {
    display: block;
}

.demo-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.demo-table > tbody > tr > td,
.demo-table > tbody > tr > th,
.demo-table > tfoot > tr > td,
.demo-table > tfoot > tr > th,
.demo-table > thead > tr > td,
.demo-table > thead > tr > th {
    padding: 8px;
    line-height: 1.4285;
    vertical-align: top;
    border-top: 1px solid #ddd;
    text-align: left;
}

.demo-table > thead:first-child > tr:first-child > td,
.demo-table > thead:first-child > tr:first-child > th {
    border-top: 0;
}
